#welcome {
   width: 100%;
   height: 100%;;
    & .header {
        background-color: #FFE096;
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 2.5em;
        padding: 1em;
        color:#807B71;
        width: 100%;
        & button {
            background-color: #807B71;
        }
    }
    & .card {
        width: 40%;
        min-height: 50vh;
        margin: auto;
        color: #807B71;
        box-shadow: 1px 1px 12px #807B71;
        & .card-title {
            font-size: 2em;
            font-weight: bold;
        }
        & .card-body {
            font-size: 2em;
            font-weight: bold;
        }
    }
}