#login {
    width: 100%;
   height: 100%;;
    & .login-header {
        background-color: #FFE096;
        display: center;
        justify-content: space-between;
        margin-bottom: 2.5em;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1em;
        color:#807B71;
        width: 100%;
    }
   
    
}